
###

In [60]:
most_gallons = pd.DataFrame(df1.groupby('spill_street_address')['total_gallons'].agg('sum').sort_values(ascending=False)[:10])

In [61]:
most_gallons

                       total_gallons
spill_street_address
6606 Swiss Oaks             23636682
108 Chappie James Way       14333036
700 Holbrook                12826210
1800 Austin Hwy              4919388
8600 Mission Pkwy            4537445
300 Petaluma Blvd E          3658000
668 Holbrook                 2213059
1135 Mission Rd              1680800
23500 Ih 10 W                1453875
1006 Holbrook                1395910

### Let's look at causes and root causes for biggest offenders.

In [79]:
df1[df1.spill_street_address == '6606 Swiss Oaks']['cause'].value_counts()

i/i                                                     17
structural                                               4
other - spill was caused by a surcharging sewer main     1
other - cause to be determined                           1
other                                                    1
Name: cause, dtype: int64

In [65]:
df1[df1.spill_street_address == '6606 Swiss Oaks']['root_cause'].value_counts()

rain event    20
other          3
grease         1
Name: root_cause, dtype: int64

### We will also look to make sure there are not spills right next to these locations.

In [91]:
df1[df1['spill_street_address'].str.contains('Swiss Oaks')].groupby('spill_street_address').agg('count')

                      report_date  total_gallons  gallons_returned  spill_start  spill_stop  hours  cause  actions  watershed  unit_id_1  unit_id_2  discharge_to  discharge_route  council_district  month  year  week  edwards_zone  pipe_diameter  pipe_length  pipe_type  installation_year  inches_no  rainfall_less_3  num_spills_compkey  num_spills_24mos  unit_type  asset_type  last_cleaned  response_time  response_datetime  public_notice  time_int  root_cause  steps_to_prevent  multiple_spills  counts
spill_street_address
6606 Swiss Oaks                24             24                24           24          24     24     24       24         24         24         24            24               24                24     24    24    24            24             24           24         24                 24         24               24                  24                24         24          24             0             24                 24             24        24          24                24               24      24

In [80]:
df1[df1.spill_street_address == '108 Chappie James Way']['cause'].value_counts()

i/i    20
Name: cause, dtype: int64

In [67]:
df1[df1.spill_street_address == '108 Chappie James Way']['root_cause'].value_counts()

rain event    20
Name: root_cause, dtype: int64

In [98]:
df1[df1['spill_street_address'].str.contains('Chappie James Way')]['root_cause'].value_counts()

rain event     23
structural      1
rain event      1
Name: root_cause, dtype: int64

In [99]:
df1[df1['spill_street_address'].str.contains('Chappie James Way')]['cause'].value_counts()

i/i       24
debris     1
Name: cause, dtype: int64

In [100]:
df1[df1['spill_street_address'].str.contains('Chappie James Way')]['total_gallons'].agg('sum')

15518896

In [92]:
df1[df1['spill_street_address'].str.contains('Chappie James Way')].groupby('spill_street_address').agg('count')

                       report_date  total_gallons  gallons_returned  spill_start  spill_stop  hours  cause  actions  watershed  unit_id_1  unit_id_2  discharge_to  discharge_route  council_district  month  year  week  edwards_zone  pipe_diameter  pipe_length  pipe_type  installation_year  inches_no  rainfall_less_3  num_spills_compkey  num_spills_24mos  unit_type  asset_type  last_cleaned  response_time  response_datetime  public_notice  time_int  root_cause  steps_to_prevent  multiple_spills  counts
spill_street_address
0 Chappie James Way              1              1                 1            1           1      1      1        1          1          1          1             1                1                 1      1     1     1             1              1            1          1                  1          1                1                   1                 1          1           1             0              1                  0              1         1           1                 1                1       1
100 Chappie James Way            4              4                 4            4           4      4      4        4          4          4          4             4                4                 4      4     4     4             4              4            4          4                  4          4                4                   4                 4          4           4             0              4                  4              4         4           4                 4                4       4
108 Chappie James Way           20             20                20           20          20     20     20       20         20         20         20            20               20                20     20    20    20            20             20           20         20                 20         20               20                  20                20         20          20             0             20                 20             20        20          20                20               20      20

In [81]:
df1[df1.spill_street_address == '700 Holbrook']['cause'].value_counts()

i/i    16
Name: cause, dtype: int64

In [68]:
df1[df1.spill_street_address == '700 Holbrook']['root_cause'].value_counts()

rain event    16
Name: root_cause, dtype: int64

In [82]:
df1[df1.spill_street_address == '1800 Austin Hwy']['cause'].value_counts()

i/i       11
grease     1
Name: cause, dtype: int64

In [69]:
df1[df1.spill_street_address == '1800 Austin Hwy']['root_cause'].value_counts()

rain event    11
debris         1
Name: root_cause, dtype: int64

In [93]:
df1[df1['spill_street_address'].str.contains('Austin Hwy')].groupby('spill_street_address').agg('count')

                      report_date  total_gallons  gallons_returned  spill_start  spill_stop  hours  cause  actions  watershed  unit_id_1  unit_id_2  discharge_to  discharge_route  council_district  month  year  week  edwards_zone  pipe_diameter  pipe_length  pipe_type  installation_year  inches_no  rainfall_less_3  num_spills_compkey  num_spills_24mos  unit_type  asset_type  last_cleaned  response_time  response_datetime  public_notice  time_int  root_cause  steps_to_prevent  multiple_spills  counts
spill_street_address
1201 Austin Hwy                 1              1                 1            1           1      1      1        1          1          1          1             1                1                 1      1     1     1             1              1            1          1                  1          1                1                   1                 1          1           1             1              1                  0              1         1           1                 1                1       1
1320 Austin Hwy                 1              1                 1            1           1      1      1        1          1          1          1             1                1                 1      1     1     1             1              1            1          1                  1          1                1                   1                 1          1           1             1              1                  0              1         1           1                 1                1       1
1470 Austin Hwy                 1              1                 1            1           1      1      1        1          1          1          1             1                1                 1      1     1     1             1              1            1          1                  1          1                1                   1                 1          1           1             0              1                  0              1         1           1                 1                1       1
1800 Austin Hwy                12             12                12           12          12     12     12       12         12         12         12            12               12                12     12    12    12            12             12           12         12                 12         12               12                  12                12         12          12             0             12                 12             12        12          12                12               12      12
1804 Austin Hwy                 1              1                 1            1           1      1      1        1          1          1          1             1                1                 1      1     1     1             1              1            1          1                  1          1                1                   1                 1          1           1             0              1                  1              1         1           1                 1                1       1
1916 Austin Hwy                 4              4                 4            4           4      4      4        4          4          4          4             4                4                 4      4     4     4             4              4            4          4                  4          4                4                   4                 4          4           4             1              4                  3              4         4           4                 4                4       4
2009 Austin Hwy                 1              1                 1            1           1      1      1        1          1          1          1             1                1                 1      1     1     1             1              1            1          1                  1          1                1                   1                 1          1           1             0              1                  1              1         1           1                 1                1       1
2818 Austin Hwy                 1              1                 1            1           1      1      1        1          1          1          1             1                1                 1      1     1     1             1              1            1          1                  1          1                1                   1                 1          1           1             1              1                  0              1         1           1                 1                1       1
903 Austin Hwy                  1              1                 1            1           1      1      1        1          1          1          1             1                1                 1      1     1     1             1              1            1          1                  1          1                1                   1                 1          1           1             0              1                  0              1         1           1                 1                1       1

In [83]:
df1[df1.spill_street_address == '8600 Mission Pkwy']['cause'].value_counts()

break in main            3
break in by-pass line    1
structural               1
lift station pump out    1
Name: cause, dtype: int64

In [70]:
df1[df1.spill_street_address == '8600 Mission Pkwy']['root_cause'].value_counts()

structural       3
lift station     2
lift station     1
Name: root_cause, dtype: int64

In [94]:
df1[df1['spill_street_address'].str.contains('Mission Pkwy')].groupby('spill_street_address').agg('count')

                      report_date  total_gallons  gallons_returned  spill_start  spill_stop  hours  cause  actions  watershed  unit_id_1  unit_id_2  discharge_to  discharge_route  council_district  month  year  week  edwards_zone  pipe_diameter  pipe_length  pipe_type  installation_year  inches_no  rainfall_less_3  num_spills_compkey  num_spills_24mos  unit_type  asset_type  last_cleaned  response_time  response_datetime  public_notice  time_int  root_cause  steps_to_prevent  multiple_spills  counts
spill_street_address
8600 Mission Pkwy               6              6                 6            6           6      6      6        6          6          6          6             6                6                 6      6     6     6             6              6            6          6                  6          6                6                   6                 6          6           6             0              6                  0              6         6           6                 6                6       6

In [84]:
df1[df1.spill_street_address == '300 Petaluma Blvd E']['cause'].value_counts()

i/i            1
debris/rock    1
Name: cause, dtype: int64

In [71]:
df1[df1.spill_street_address == '300 Petaluma Blvd E']['root_cause'].value_counts()

contractor     2
Name: root_cause, dtype: int64

In [95]:
df1[df1['spill_street_address'].str.contains('Petaluma')].groupby('spill_street_address').agg('count')

                      report_date  total_gallons  gallons_returned  spill_start  spill_stop  hours  cause  actions  watershed  unit_id_1  unit_id_2  discharge_to  discharge_route  council_district  month  year  week  edwards_zone  pipe_diameter  pipe_length  pipe_type  installation_year  inches_no  rainfall_less_3  num_spills_compkey  num_spills_24mos  unit_type  asset_type  last_cleaned  response_time  response_datetime  public_notice  time_int  root_cause  steps_to_prevent  multiple_spills  counts
spill_street_address
300 Petaluma Blvd E             2              2                 2            2           2      2      2        2          2          2          2             2                2                 2      2     2     2             2              2            2          2                  2          2                2                   2                 2          2           2             0              2                  0              2         2           2                 2                2       2
342 Petaluma Blvd E             1              1                 1            1           1      1      1        1          1          1          1             1                1                 1      1     1     1             1              1            1          1                  1          1                1                   1                 1          1           1             1              1                  0              1         1           1                 1                1       1

In [85]:
df1[df1.spill_street_address == '668 Holbrook']['cause'].value_counts()

i/i      9
other    1
Name: cause, dtype: int64

In [72]:
df1[df1.spill_street_address == '668 Holbrook']['root_cause'].value_counts()

rain event    9
other         1
Name: root_cause, dtype: int64

In [86]:
df1[df1.spill_street_address == '1135 Mission Rd']['cause'].value_counts()

i/i              4
break in main    1
Name: cause, dtype: int64

In [73]:
df1[df1.spill_street_address == '1135 Mission Rd']['root_cause'].value_counts()

rain event    4
structural    1
Name: root_cause, dtype: int64

In [96]:
df1[df1['spill_street_address'].str.contains('Mission Rd')].groupby('spill_street_address').agg('count')

                      report_date  total_gallons  gallons_returned  spill_start  spill_stop  hours  cause  actions  watershed  unit_id_1  unit_id_2  discharge_to  discharge_route  council_district  month  year  week  edwards_zone  pipe_diameter  pipe_length  pipe_type  installation_year  inches_no  rainfall_less_3  num_spills_compkey  num_spills_24mos  unit_type  asset_type  last_cleaned  response_time  response_datetime  public_notice  time_int  root_cause  steps_to_prevent  multiple_spills  counts
spill_street_address
100 Mission Rd                  2              2                 2            2           2      2      2        2          2          2          2             2                2                 2      2     2     2             2              2            2          2                  2          2                2                   2                 2          2           2             0              2                  0              2         2           2                 2                2       2
1133 Mission Rd                 1              1                 1            1           1      1      1        1          1          1          1             1                1                 1      1     1     1             1              1            1          1                  1          1                1                   1                 1          1           1             1              1                  0              1         1           1                 1                1       1
1135 Mission Rd                 5              5                 5            5           5      5      5        5          5          5          5             5                5                 5      5     5     5             5              5            5          5                  5          5                5                   5                 5          5           5             0              5                  3              5         5           5                 5                5       5
1151 Mission Rd                 2              2                 2            2           2      2      2        2          2          2          2             2                2                 2      2     2     2             2              2            2          2                  2          2                2                   2                 2          2           2             0              2                  2              2         2           2                 2                2       2
1500 Mission Rd                 2              2                 2            2           2      2      2        2          2          2          2             2                2                 2      2     2     2             2              2            2          2                  2          2                2                   2                 2          2           2             0              2                  1              2         2           2                 2                2       2
1515 Mission Rd                 2              2                 2            2           2      2      2        2          2          2          2             2                2                 2      2     2     2             2              2            2          2                  2          2                2                   2                 2          2           2             0              2                  1              2         2           2                 2                2       2
15751 Mission Rdg               1              1                 1            1           1      1      1        1          1          1          1             1                1                 1      1     1     1             1              1            1          1                  1          1                1                   1                 1          1           1             0              1                  1              1         1           1                 1                1       1
703 Mission Rd                  1              1                 1            1           1      1      1        1          1          1          1             1                1                 1      1     1     1             1              1            1          1                  1          1                1                   1                 1          1           1             0              1                  0              1         1           1                 1                1       1

In [87]:
df1[df1.spill_street_address == '23500 Ih 10 W']['cause'].value_counts()

i/i    12
Name: cause, dtype: int64

In [74]:
df1[df1.spill_street_address == '23500 Ih 10 W']['root_cause'].value_counts()

rain event      11
lift station     1
Name: root_cause, dtype: int64

In [88]:
df1[df1.spill_street_address == '1006 Holbrook']['cause'].value_counts()

i/i    4
Name: cause, dtype: int64

In [75]:
df1[df1.spill_street_address == '1006 Holbrook']['root_cause'].value_counts()

rain event    4
Name: root_cause, dtype: int64

In [90]:
df1[df1['spill_street_address'].str.contains('Holbrook')].groupby('council_district')['total_gallons'].agg('sum')

council_district
2     17027404
10      532625
Name: total_gallons, dtype: int64

In [97]:
df1[df1['spill_street_address'].str.contains('Holbrook')].groupby('council_district')['root_cause'].agg('count')

council_district
2     41
10     1
Name: root_cause, dtype: int64

In [159]:
overall_month_seasonality = pd.DataFrame(df1[df1.cause == 'grease'].groupby(['year', 'month'])['report_date'].count())

### Looking at months through the years still shows some trend towards an increase in grease caused SSO's in colder months.

In [160]:
overall_month_seasonality

            report_date
year month
2009 1                6
     2                8
     3               11
     4               12
     5               11
     6                8
     7                9
     8                8
     9                7
     10               6
     11              18
     12               7
2010 1               20
     2               15
     3                6
     4                3
     5                7
     6                6
     7                6
     8               13
     9               12
     10              11
     11               8
     12              18
2011 1               20
     2               18
     3               10
     4               13
     5                5
     6               11
     7                7
     8               11
     9               19
     10              23
     11              10
     12              13
2012 1               15
     2               17
     3               13
     4                9
     5               11
     6               16
     7                8
     8               10
     9               14
     10               8
     11              10
     12              16
2013 1               21
     2                6
     3               11
     4                8
     5                9
     6                6
     7                7
     8                4
     9                3
     10               7
     11               7
     12              12
2014 1                7
     2                4
     3                6
     4                3
     5                5
     6                4
     7                5
     8                5
     9                1
     10               4
     11               1
     12               6
2015 1                3
     2                5
     3                8
     4                4
     5                3
     6                2
     7                3
     8                6
     9                7
     10               7
     11               6
     12              13
2016 1               12
     2                7
     3                2
     4                7
     5                3
     6                4
     7                2
     8                1
     9                3
     10               6
     11               6
     12               6
2017 1                6
     2                7
     3                6
     4                4
     5                9
     6                4
     7                4
     8               10
     9                3
     10               6
     11              10
     12               2
2018 1                6
     2                9
     3                5
     4                2
     5                5
     6                2
     7                5
     8                5
     9                3
     10               3
     11               4
     12               2
2019 1                3
     2                4
     3                6

In [132]:
(df1.root_cause.value_counts()/df1.shape[0]) * 100

structural           38.862708
grease               19.195727
debris               13.949105
rain event           11.090167
contractor            5.152372
lift station          3.927113
other                 1.916431
vandalism             1.508011
rain event            1.508011
vandalism             0.754006
roots                 0.691172
lift station          0.471254
i/i                   0.377003
contractor            0.251335
na                    0.219918
by pass pump leak     0.094251
other                 0.031417
Name: root_cause, dtype: float64

In [131]:
(df1.cause.value_counts()/df1.shape[0]) * 100

grease                                                  30.034559
debris                                                  15.048696
i/i                                                     14.608860
debris/rock                                              7.979893
structural                                               7.665724
rags                                                     7.414389
break in main                                            7.288721
contractor                                               2.858938
lift station                                             1.319510
vandalism                                                1.193842
other                                                    0.911090
lift station power out                                   0.911090
roots                                                    0.879673
lift station pump out                                    0.659755
equipment failure                                        0.157085
other - capacity                                         0.157085
by-pass pump failure                                     0.125668
plug in main                                             0.125668
break in by-pass line                                    0.094251
by-pass equip failure                                    0.062834
human error                                              0.062834
protruding lateral                                       0.031417
under investigation                                      0.031417
lift station - due to power failure and i/i              0.031417
other - obstruction in main                              0.031417
structural - broken force main                           0.031417
other - cleanout cap broken by vehicular traffic         0.031417
other - gate valve                                       0.031417
contractor - contractor damaged 8 inch force main        0.031417
structural - spilled from broken lateral                 0.031417
broken arv                                               0.031417
other - mechanical                                       0.031417
lateral repair                                           0.031417
other - cause to be determined                           0.031417
other - spill was caused by a surcharging sewer main     0.031417
Name: cause, dtype: float64